:github_url: hide

.. _{{ id }}:

{% macro print_relatives(relatives) %}
{% if relatives|length == 0 %}
None
{% else %}

{% for rel in relatives %}
{{ rel }}
{% endfor %}
{% endif %}
{% endmacro %}

{% macro print_paragraph(para, level=0, keep_indent=False) %}
{% filter indent(level * 3, first=True) %}
{% for line in para %}
   {% if line["@directive"] is defined %}

.. {{ line["@directive"] }}:: {{ line.get("@opts", "") }}


{{ print_paragraph(line["lines"], level + 1, True) }}

   {% elif line["@role"] is defined %}
   
:{{ line["@role"] }}: {{ line["lines"] }}
   {% else %}
      {% if keep_indent %}
{{ line }}
      {% else %}
{{ line.strip() }}
      {% endif %}
   {% endif %}
{% endfor %}
{% endfilter %}
{% endmacro %}

{% macro print_desc(desc, level=0) %}
{% for para in desc %}
{{ print_paragraph(para, level)}}

{% endfor %}
{% endmacro %}

{% macro print_func_qualifier(func) -%}
{{ 'static ' if func["@static"] == "yes" else "" }}{{ 'virtual ' if func["@virt"] == "virtual" else "" }}{{ 'explicit ' if func["@explicit"] == "yes" else "" }}
{%- endmacro %}

{% macro print_func_tparams(func) -%}
{% if func["templateparamlist"] is defined and func["templateparamlist"]["param"]|length > 0 -%}
template<
{%- for param in func["templateparamlist"]["param"] -%}
{{ param["type"]}}{% if param["defname"] is defined %} {{ param["defname"]}}{% endif %}{{ ", " if not loop.last else "" }}
{%- endfor -%}
>
{%- endif %}
{%- endmacro %}


{{ name }}
{% for i in name %}={% endfor %}

.. cpp:namespace:: {{ name }}

{% if templateparameters|length > 0 %}
Template Arguments
------------------
{% for param in templateparameters %}
{{ param }}{% if not loop.last %}, {% endif %}
{% endfor %}
{% endif %}


Inheritance
-----------

Inherited by:
{{ print_relatives(derivedcompoundref) }}

Inherits:
{{ print_relatives(basecompoundref) }}

Description  
-----------  

{{ print_desc(briefdescription) }}

{{ print_desc(detaileddescription) }}

{% if 'id' in specializationof %}
Specialization of :ref:`{{ specializationof.name }}<{{specializationof.id}}>`  

{% endif %}

{% if specializations|length > 0 %}
.. rst-class:: classref-reftable-group

Specializations
---------------

.. toctree::
   :maxdepth: 1

{% for key,spec in specializations.items() %}
   {{ key }}
{% endfor %}
{% endif %}

{% if innerclass|length > 0 %}
.. rst-class:: classref-reftable-group

Inner Classes
-------------

.. toctree::
   :maxdepth: 1

{% for ic in innerclass %}
   {{ ic }}
{% endfor %}
{% endif %}

{% if sectiondef["public-func"]|length > 0 or sectiondef["protected-func"]|length > 0 %}
.. rst-class:: classref-reftable-group

Methods
-------


{% for id, func in sectiondef["public-func"].items() %}
.. _{{ id }}:
.. cpp:function:: {{print_func_tparams(func)}} {{ print_func_qualifier(func) }} {{ func.definition }}{{ func.argsstring }} {{ "const" if func["@const"] == "yes" else "" }}

{{ print_desc(func.briefdescription, level=1) }}
{{ print_desc(func.detaileddescription, level=1) }}
{% endfor %}
{% endif %}

{% if sectiondef["public-attrib"]|length > 0 %}
.. rst-class:: classref-reftable-group

Vars
----

{% for id, attrib in sectiondef["public-attrib"].items() %}
.. _{{ id }}:
.. cpp:member:: {{ 'static ' if attrib["@static"] == "yes" else ""}}{{ 'mutable ' if attrib["@mutable"] == "yes" else ""}}{{ attrib.definition }}{{ attrib.initializer }}

{{ print_desc(attrib.briefdescription, level=1) }}
{{ print_desc(attrib.detaileddescription, level=1) }}
{% endfor %}
{% endif %}
