{{ title }}
{% for t in title %}={% endfor %}
{% if classes|length > 0 %}

.. toctree::
		:maxdepth: 1
		:caption: Class Reference
		:name: toc-class-ref

{% for key,cls in classes.items() %}{% if not cls.hidden %}
		{{ key }}
{% endif %}{% endfor %}
{% endif %}

{% if namespaces|length > 0 %}

.. toctree::
		:maxdepth: 1
		:caption: Namespace Reference
		:name: toc-class-ref

{% for key in namespaces %}
		{{ key }}
{% endfor %}
{% endif %}
